.block-container {
  background-color: #48964f;
  border: 2px solid #095816;
  width: 20vw;
  height: 300px;
  margin: 15px;
  text-align: center;
  border-radius: 10px;
  margin-top:1px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.block_space_under {
  padding-bottom: 2em;
}

.tx_space_under {
  padding-bottom: 0.2em;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

div.hash_overflow {
  white-space: nowrap; 
  width: 20vw; 
  overflow: hidden;
  text-overflow: ellipsis; 
  line-height: 10px;
  margin-bottom:20px;
  text-align: left;
}