{% extends 'base.html' %}
{% load static %} 
{% load chain_extras %}
<!-- static files need to be loaded again -->
{% block title %} | Transactions {% endblock %}
{% block content %}


  <div class="tx_left_div">
    <div class="account_info_div">
      {% include "extensions/account_info.html" %}
    </div>
    <div class="create_tx_div"> 
      <h2 align="center">Create new transaction</h2>
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
          <table style="padding: 10px;"> 
            <tr>
              <td>
                <label>To address </label>
              </td>
              <td>
                {{ form.to_address }} <br>
              </td>
            </tr>
            <tr>
              <td>
                <label>Amount </label>
              </td>
              <td>
                {% comment %} when inspecting element you can see that the id is "id_amount" form.amount {% endcomment %}
                  {{ form.amount }} 
                  <input type="hidden" id="fee" value="{{fee}}"> </span>
                  <span> (Estimated amount including fees: </span> <span id="amount_with_fee"></span><span>)</span>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top;">
                <label>Message </label>
              </td>
              <td>
                {{ form.message }}
              </td>
            </tr>
            <tr>
              <td>
                <label>Private Key </label>
              </td>
              <td>
                {{ form.file }} <br>
              </td>
            </tr>
          </table>
        <button type="submit" class="submit_tx_button">Sign and Submit Tx</button>
        {% if error %}
          <div class="error-msg">
            <i class="fa fa-warning"></i>
            {{ error }}
        </div>
        {% endif %}
      </form>

      {% for message in messages %}
        {% if message.tags == 'success' %} 
        <div class="success-msg">
          <i class="fa fa-check"></i>
          {{ message }}
        </div>  
        {% endif %} 
      {% endfor %}
    </div>
  </div>

  <div class="address_book_div">
    <h2 align="center">Address book</h2>
    <table class="center_table">
      <tr>
        <th>Address</th>
        <th>Balance</th>
     </tr>
    {% for acc in accounts %}
      <tr> 
        <td> {{acc.address}} </td>
        <td> {{acc.get_balance}} </td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}