<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static "css/style.css"%}">
<!-- loading static files here with template tagging -->
<!-- to refresh css in the browser press ctrl+F5 -->

  <head>
    <meta charset="utf-8">
    <title> BlockChain {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{% static "css/toolbar_style.css"%}">
  </head>
  <body>
    <header class="toolbar">
      <div class="toolbar__logo">BlockChain.org</div>
      <nav class="toolbar__items">
        <a href="{% url 'base'%}">Home</a>
        <a href="{% url 'blockchain'%}">Blockchain</a>
        {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
          <a href="{% url 'create_account'%}">Create Account</a>
          <a href="{% url 'login'%}">Log In</a>
        {% endif %}
        <a href="https://github.com/DinnoKoluh/blockchain" target="_blank">Repository</a>
      </nav>
    </header>
    
  </body>

{% block content %}
<body>
  <h1> Welcome Home.</h1>
  {% if request.user.is_authenticated %}
    <h2> This account belongs to: {{ user.username }} </h2>
    <h3> My address is: {{ user.accountmodel.address }}</h3>
  {% endif %}
  <img src="{% static "images/running.png" %}" alt="wrong file path name, or picture name" width="400" height="500">
  <p> This page contains some basic info about this project. </p>
</body>

{% endblock %}