{% extends 'base.html' %}
{% load static %} 
<!-- static files need to be loaded again -->
{% block title %} | Chain {% endblock %}

{% block content %}
<!-- <b>Welcome to block chain visualization!!!</b>
<img src="{% static "images/running.png" %}" alt="wrong file path name, or picture name" width="100" height="100"> -->
<div>
    <h1> Mine a block </h1>
    <form method="post">
        <h4>Available Transactions</h4>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Mine Block</button>
    </form>
    {% for block in blocks %}
        <div class="center">
            <h3 align="center">Block {{block.pk}}. hash: {{block.hash}} </h3>
            {% for tx in block.get_txs %}
            <h4 align="center">Tx {{tx.pk}}. data: </h4>
            <div class="center">
                <h5>From address: {{tx.from_address}}</h5>
                <h5>To address: {{tx.to_address}}</h5>
                <h5>Amount: {{tx.amount}}</h5>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
