{% extends 'base.html' %}

{% load static %} 
{% load chain_extras %}
<!-- static files need to be loaded again -->
{% block title %} | Chain {% endblock %}

{% block content %}
{% comment %} <img src="{% static "images/running.png" %}" alt="wrong file path name, or picture name" width="100" height="100">{% endcomment %}

<div>
    {% if request.user.is_authenticated %}
        <div>
        
            <h1 align="center"> Mine a block </h1>
            <h4 align="center">Pending Transactions</h4>
            <table class="center_table" style="border: 1px solid black"> 
                <tbody>
                {%  for form_tx, tx in form.txs|zip:full_txs %}
                    {% if forloop.counter0|divisibleby:pending_tx_in_row %}
                        <tr class="space_under">
                    {% endif %} 
                    <td class="tx_space_under"> 
                        {% comment %} {{ form_tx }} {% endcomment %}
                        {% include "to_extend.html" %}
                    </td>
                    {% if forloop.counter|divisibleby:pending_tx_in_row %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody> 
            </table>
            <form align="center" method="post">
                {% csrf_token %}
                <button align="center" type="submit" class="mine_block_button">Mine Block</button>
            </form>
        </div>
    {% endif %}
    


    <h1 align="center"> The Blockchain </h1>
    <table class="center_table">
        {% for block in blocks %}
            {% if forloop.counter0|divisibleby:blocks_in_row %}
                <tr class="space_under">
            {% endif %} 
            <td class="block_space_under">
                <div class="block-container">
                    <font size="5">Block {{block.pk}}</font>
                    {% comment %} <i class="arrow right"> </i> {% endcomment %}
                    <div class="hash_overflow"> 
                        <font size="1">Hash: {{block.hash}} </font><br>
                        <font size="1">Previous hash: {{block.previous_hash}}</font><br>
                        <font size="1">Timestamp: {{block.timestamp}}</font>
                    </div>
                    
                    <table class="center_table">
                    {% for tx in block.get_txs %}
                        {% if forloop.counter0|divisibleby:txs_in_row %}
                            <tr class="space_under">
                        {% endif %} 
                        {% comment %} the code for generating the tx information 
                        https://docs.djangoproject.com/en/4.1/ref/templates/builtins/
                        {% endcomment %}
                        <td class="tx_space_under">
                            {% include "to_extend.html" %} 
                        </td>
                        {% if forloop.counter|divisibleby:txs_in_row %}
                            <tr>
                        {% endif %}
                    {% endfor %}
                    </table>

                </div>
            </td>
            {% if forloop.counter|divisibleby:blocks_in_row %}
                <tr>
            {% endif %} 
        {% endfor %}
    </table>
</div>
{% endblock %}