{% extends 'base.html' %}
{% load static %} 
<!-- static files need to be loaded again -->
{% block title %} | Create Account {% endblock %}
{% block content %}
<h1 align="center">Register</h1>
  <div class="center">
    <form method="post">
      {% csrf_token %}
      <div class="create_acc_div">
        <table style="padding-bottom: 20px;"> 
          <tr>
            <td>
              <label>Username</label>
            </td>
            <td>
              {{ form.username }} <br>
            </td>
          </tr>
          <tr>
            <td>
              <label>Email </label>
            </td>
            <td>
              {{ form.email }}
            </td>
          </tr>
          <tr>
            <td>
              <label>Password </label>
            </td>
            <td>
              {{ form.password1 }}
            </td>
          </tr>
          <tr>
            <td>
              <label>Repeat Password </label>
            </td>
            <td>
              {{ form.password2 }}
            </td>
          </tr>
        </table>
        <button class="submit_tx_button" type="submit">Register</button>
        {% for message in messages %}
          {% if message.tags == 'success' %} 
          {% comment %} <a href="{% url 'login'%}"> LogIn </a> {% endcomment %}
          <div class="success-msg">
              <i class="fa fa-check"></i>
              {{ message }}
          </div>  
          {% endif %} 
        {% endfor %}
      </div>
      {% if form.errors %}
        {% for field in form %}
          {{ field.name }}
          {{ field.errors }}
        {% endfor %}
        <!-- {{ form.non_field_errors }} -->
      {% endif %}
      
    </form>
  </div>
  <!-- message of creating an account -->
  <!-- {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <b{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</b> <br>
      {% endfor %}
  </ul>
  {% endif %} -->

{% endblock %}
