{% extends 'base.html' %}
{% load static %} 
<!-- static files need to be loaded again -->
{% block title %} | LogIn {% endblock %}
{% block content %}
<h1 align="center">Log In</h1>
  <div class="center">
    <form method="post">
      {% csrf_token %}
      <div class="create_acc_div">
        <table style="padding-bottom: 15px;"> 
          <tr>
            <td>
              <label>Username</label>
            </td>
            <td>
              {{ form.username }} <br>
            </td>
          </tr>
          <tr>
            <td>
              <label>Password </label>
            </td>
            <td>
              {{ form.password }}
            </td>
          </tr>
        </table>
        <button class="submit_tx_button" type="submit">Log In</button>
      </div>

      {% if form.errors %}
        {% for field in form %}
          {{ field.errors }}
        {% endfor %}
        <!-- {{ form.non_field_errors }} -->
      {% endif %}
    </form>
  </div>

{% endblock %}

