{% extends 'base.html' %}
{% load static %} 
{% load chain_extras %}
<!-- static files need to be loaded again -->
{% block title %} | Transactions {% endblock %}
{% block content %}


  <div class="tx_left_div">
    <div class="account_info_div">
      <h2 align="center">Account information</h2>
      <h4> My username: {{ user.username }} </h4>
      <h4> My address: {{ user.account.address }}</h4>
      <h4> My balance is: {{ user.account.get_balance }} </h4>
      <h4> Available funds: {{ user.account.get_balance|subtract:user.account.pending_amount }} </h4>
    </div>
    <div class="create_tx_div"> 
      <h2 align="center">Create new transaction</h2>
      <form method="post">
        {% csrf_token %}
          <table style="padding: 10px;"> 
            <tr>
              <td>
                <label>To address </label>
              </td>
              <td>
                {{ form.to_address }} <br>
              </td>
            </tr>
            <tr>
              <td>
                <label>Amount </label>
              </td>
              <td>
                {% comment %} when inspecting element you can see that the id is "id_amount" form.amount {% endcomment %}
                  {{ form.amount }} 
                  <input type="hidden" id="fee" value="{{fee}}"> </span>
                  <span> (Estimated amount including fees: </span> <span id="amount_with_fee"> </span> <span>)</span>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top;">
                <label>Message </label>
              </td>
              <td>
                {{ form.message }}
              </td>
            </tr>
          </table>
        <button type="submit" class="submit_tx_button">Submit</button>
      </form>
    </div>
  </div>

  <div class="address_book_div">
    <h2 align="center">Address book</h2>
    <table>
      <tr>
        <th>Address</th>
        <th>Balance</th>
     </tr>
    {% for acc in accounts %}
      <tr> 
        <td> {{acc.address}} </td>
        <td> {{acc.get_balance}} </td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}

{% comment %} <script> 
  document.getElementById("amount").addEventListener("input", function() {
    document.getElementById("amount_with_fee").innerHTML = 5;
    console.log("triggered");
  });
</script> {% endcomment %}